/* COMMON */
@import '@/assets/sass/variables.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    $bg-main: #2c3e50;
}

/* UTILITIES */

